textarea {
  max-width: 100%;
}

button, input[type="submit"], .btn {
  background: transparent;
  border: 3px solid $dark-gray;
  font-family: $font-family-meta;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-base * 0.6;
  font-weight: 600;
  padding: 0.5em 1em;
}

input[type="search"] {
  padding: 0.5em 1em;
  outline: none;

  &:focus {
    border: 1px solid $dark-gray;
  }
}
