$post-margin: 2em 0 2em 15%;

.post {
  .normal {
    @include bp(desktop) {
      max-width: 70rem;
      margin: $post-margin;
    }
  }
}

.post-featured {
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.post-details {
  font-family: $font-family-meta;
  font-size: $font-size-base * 0.8;
}

.inline-quotation {
  margin: $post-margin;
  padding-left: 1em;
  border-left: 5px solid $medium-gray;
  font-style: italic;

  .inline-attribution {
    font-family: $font-family-caption;
    font-weight: 100;
    font-size: $font-size-base * 0.6;
    font-style: normal;

    &:before {
      content: "-";
    }
  }
}

.block-quotation {
  text-align: center;
  p{
    font-style: italic;
    font-size: $font-size-base * 1.45;
  }

  .block-attribution {
    font-family: $font-family-caption;
    font-weight: 100;
    color: $color-secondary;
    font-size: $font-size-base * 0.8;

    &:before {
      content: "-";
    }
  }
}

.caption {
  p {
    font-family: $font-family-caption;
    color: $color-secondary;
    font-weight: 300;
    font-size: $font-size-base * 0.8;
    text-align: center;
  }
}
