/**
 * partials/wrapper
 * ---
 */


.wrapper {
  max-width: $wrapper-width;
  width: 100%;
  padding: 0 $margin-horizontal-large;
  margin: $header-height auto 0;
  position: relative;

  @include bp(desktop) {
  }
}
