/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}

@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1800px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px)  { @content; }
  }
}

// mobile nav button
@mixin line {
  display: inline-block;
  width: $nav-toggle-btn-size;
  height: $nav-toggle-btn-size/6;
  background: $dark-gray;
  transition: 0.1s;
}
